.champion-route{
    border-radius: 3px;
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    height: 70px;
    /* border: 1px solid #000; */
    box-shadow: 1px 3px 2px rgb(214, 214, 214);
    background-color: white;
}
.champion-routes{
    text-align: center;
}
body{
    background-color: rgb(240, 240, 240);
    height: 100%;
}
.page{
    height: 100%;
}
html{
    height: 100%;
}
.title{
    margin-left: 20px;
    margin-top: 5px;
}
.main{
    text-align: center;
}
.weui-navbar{
    box-shadow: 0px 2px 1px rgb(187, 187, 187)
}
.from,.to{
    display: inline-block;
}
.from{
    padding-right: 50px
}
.to{
    padding-left: 50px;
}
